In [1]:
#importing the necessary packages
import pandas as pd
import numpy as np

In [2]:
#Reading in each csv file for the years of customer data
Customer2014 = pd.read_csv('East Rock_Customer_List_ALL_2014.csv', encoding = 'cp1252')
Customer2015 = pd.read_csv('East Rock_Customer_List_ALL_2015.csv', encoding = 'cp1252')
Customer2016 = pd.read_csv('East Rock_Customer_List_ALL_2016.csv', encoding = 'cp1252')
Customer2017 = pd.read_csv('East Rock_Customer_List_ALL_2017.csv', encoding = 'cp1252')
Customer2018 = pd.read_csv('East Rock_Customer_List_ALL_2018.csv', encoding = 'cp1252')
Customer2019 = pd.read_csv('East Rock_Customer_List_ALL_2019.csv', encoding = 'cp1252')

In [3]:
#Combining the six pandas DataFrames into one using the concatenate function
data = pd.concat([Customer2014, Customer2015, Customer2016, Customer2017, Customer2018, Customer2019], axis=0)

/Users/mikeynunz/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [4]:
print(data.head())

   #Prod                   Address                Agent Label +ID  \
0    1.0  10 Marshall ST , Apt 7-E              Hospital (109465)
1    1.0         115 Van Meter Dr              Newspaper (109455)
2    1.0           93 South Street   Angies List - Forte (109439)
3    1.0              19 Myrtle St             Newspaper (109455)
4    1.0            106 edbert st   Client Referral 2322 (109402)

      CUSTOM Cancel Reason       City         Created First Name         ID  \
0  020 - Financial Reasons  Irvington   8/12/14 16:52       Iola  657938060
1  020 - Financial Reasons   Amherst    6/16/14 15:40      Leeta  657847231
2  020 - Financial Reasons      Barre   7/18/14 13:48    Kathryn  657897142
3  020 - Financial Reasons  Chicoppee  10/30/14 20:01   Patricia  658086304
4  020 - Financial Reasons   chicopee   7/22/14 17:08    Paticia  657903565

    Income Last Name    ...      Last Pay Type  Pay Method           Phone  \
0  55490.0    Glover    ...               Sale        Visa  (973) 375-7128
1  77857.0    Bailey    ...               Sale        Visa  (413) 230-3844
2  95647.0    Hazard    ...               Sale  MasterCard  (978) 355-6375
3  35339.0   Stearly    ...               Sale  MasterCard  (413) 592-2363
4  58782.0     jimmo    ...               Sale        Visa  (413) 593-3244

   Sales Agent                 Stage State          Status  \
0          NaN  Call Center Notified    NJ  Decline Cancel
1          NaN                   NaN    MA  Decline Cancel
2          NaN                   NaN    MA  Decline Cancel
3          NaN  Call Center Notified    MA  Decline Cancel
4          NaN                   NaN    MA  Decline Cancel

  Track Date Cancel Requested Zip Code ZipCodeNew
0                     1/15/15     7111       7111
1                    10/16/14     1002       1002
2                     1/15/15     1005       1005
3                     1/15/15     1013       1013
4                    10/16/14     1020       1020

[5 rows x 24 columns]

In [5]:
#Deleting the columns we will not be using for any analysis
data = data.drop(["Address", "Agent Label +ID", "First Name", "Last Name", "Sales Agent", "Stage", "Zip Code"], axis=1)

In [6]:
data.columns

Index(['#Prod', 'CUSTOM Cancel Reason', 'City', 'Created', 'ID', 'Income',
       'Last Pay Amount', 'Last Pay Complete', 'Last Pay Date',
       'Last Pay Status', 'Last Pay Type', 'Pay Method', 'Phone', 'State',
       'Status', 'Track Date Cancel Requested', 'ZipCodeNew'],
      dtype='object')

In [7]:
#Renaming the remaining columns for easier understanding
cols = ['Num_Prods', 'Cancel_Reason', 'City', 'Creation_Date', 'ID', 'Mean_Income', 'LP_Amount', 
        'LP_Complete', 'LP_Date', 'LP_Status', 'LP_Type', 'Pay_Method', 'Phone', 'State', 
        'Customer_Status', 'Cancel_Request_Date', 'Zip_Code']

#Applying new column names to existing DataFrame
data.columns = cols

#Displaying the first 5 rows of each column
data.head()

,Num_Prods,Cancel_Reason,City,Creation_Date,ID,Mean_Income,LP_Amount,LP_Complete,LP_Date,LP_Status,LP_Type,Pay_Method,Phone,State,Customer_Status,Cancel_Request_Date,Zip_Code
0,1.0,020 - Financial Reasons,Irvington,8/12/14 16:52,657938060,55490.0,29.95,1.0,9/3/14,0.0,Sale,Visa,(973) 375-7128,NJ,Decline Cancel,1/15/15,7111
1,1.0,020 - Financial Reasons,Amherst,6/16/14 15:40,657847231,77857.0,34.95,1.0,7/3/14,0.0,Sale,Visa,(413) 230-3844,MA,Decline Cancel,10/16/14,1002
2,1.0,020 - Financial Reasons,Barre,7/18/14 13:48,657897142,95647.0,34.95,1.0,8/5/14,0.0,Sale,MasterCard,(978) 355-6375,MA,Decline Cancel,1/15/15,1005
3,1.0,020 - Financial Reasons,Chicoppee,10/30/14 20:01,658086304,35339.0,34.95,1.0,11/1/14,0.0,Sale,MasterCard,(413) 592-2363,MA,Decline Cancel,1/15/15,1013
4,1.0,020 - Financial Reasons,chicopee,7/22/14 17:08,657903565,58782.0,34.95,1.0,9/3/14,0.0,Sale,Visa,(413) 593-3244,MA,Decline Cancel,10/16/14,1020

In [8]:
#printing out the descriptive statistics
print(data.describe())

           Num_Prods            ID    Mean_Income     LP_Amount  \
count  119929.000000  1.199680e+05  100698.000000  113635.00000
mean        1.368293  6.614690e+08   60368.667779      40.30024
std         0.930897  5.596562e+06   27589.138190      28.04640
min         1.000000  6.575992e+08       0.000000       0.00000
25%         1.000000  6.581394e+08   41308.000000      29.95000
50%         1.000000  6.590039e+08   54427.000000      34.95000
75%         1.000000  6.596906e+08   73405.000000      39.95000
max        21.000000  6.749652e+08  242857.000000    1103.80000

         LP_Complete      LP_Status
count  113635.000000  113635.000000
mean        0.986993       0.491618
std         0.113303       0.499932
min         0.000000       0.000000
25%         1.000000       0.000000
50%         1.000000       0.000000
75%         1.000000       1.000000
max         1.000000       1.000000

In [9]:
data.shape

(119968, 17)

In [10]:
data = data[pd.notnull(data['Mean_Income'])]

In [11]:
data.shape

(100698, 17)

In [12]:
data.describe()

,Num_Prods,ID,Mean_Income,LP_Amount,LP_Complete,LP_Status
count,100665.000000,1.006980e+05,100698.000000,95321.000000,95321.000000,95321.000000
mean,1.366145,6.614738e+08,60368.667779,40.313974,0.986603,0.486147
std,0.928580,5.598031e+06,27589.138190,27.980943,0.114967,0.499811
min,1.000000,6.575992e+08,0.000000,0.000000,0.000000,0.000000
25%,1.000000,6.581395e+08,41308.000000,29.950000,1.000000,0.000000
50%,1.000000,6.590056e+08,54427.000000,34.950000,1.000000,0.000000
75%,1.000000,6.596918e+08,73405.000000,39.950000,1.000000,1.000000
max,21.000000,6.749652e+08,242857.000000,739.700000,1.000000,1.000000

In [13]:
print(data.dtypes)

Num_Prods              float64
Cancel_Reason           object
City                    object
Creation_Date           object
ID                       int64
Mean_Income            float64
LP_Amount              float64
LP_Complete            float64
LP_Date                 object
LP_Status              float64
LP_Type                 object
Pay_Method              object
Phone                   object
State                   object
Customer_Status         object
Cancel_Request_Date     object
Zip_Code                object
dtype: object