In [1]:
#importing the necessary packages
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#Reading in each csv file for the years of customer data
data = pd.read_csv('data.csv', encoding = 'cp1252')

/opt/tljh/user/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#Spliting the Created column into two rows with the date and time as seperate columns
data['date_created'], data['time_created'] = data['Created'].str.split(' ', 1).str

In [5]:
print(data.head())

   #Prod                Agent Label +ID     CUSTOM Cancel Reason  \
0    1.0              Hospital (109465)  020 - Financial Reasons
1    1.0             Newspaper (109455)  020 - Financial Reasons
2    1.0   Angies List - Forte (109439)  020 - Financial Reasons
3    1.0             Newspaper (109455)  020 - Financial Reasons
4    1.0  Client Referral 2322 (109402)  020 - Financial Reasons

          Created           ID   Income  Last Pay Amount  Last Pay Complete  \
0   8/12/14 16:52  657938060.0  55490.0            29.95                1.0
1   6/16/14 15:40  657847231.0  77857.0            34.95                1.0
2   7/18/14 13:48  657897142.0  95647.0            34.95                1.0
3  10/30/14 20:01  658086304.0  35339.0            34.95                1.0
4   7/22/14 17:08  657903565.0  58782.0            34.95                1.0

  Last Pay Date  Last Pay Status Last Pay Type  Pay Method  \
0        9/3/14              0.0          Sale        Visa
1        7/3/14              0.0          Sale        Visa
2        8/5/14              0.0          Sale  MasterCard
3       11/1/14              0.0          Sale  MasterCard
4        9/3/14              0.0          Sale        Visa

                  Stage State          Status ZipCodeNew date_created  \
0  Call Center Notified    NJ  Decline Cancel       7111      8/12/14
1                   NaN    MA  Decline Cancel       1002      6/16/14
2                   NaN    MA  Decline Cancel       1005      7/18/14
3  Call Center Notified    MA  Decline Cancel       1013     10/30/14
4                   NaN    MA  Decline Cancel       1020      7/22/14

  time_created
0        16:52
1        15:40
2        13:48
3        20:01
4        17:08

In [6]:
data['date_created'] = pd.to_datetime(data['date_created'])
data['Last Pay Date'] = pd.to_datetime(data['Last Pay Date'])
data['days'] = (data['Last Pay Date'] - data['date_created']).dt.days
data['months'] = data['days']/30
data.head()

,#Prod,Agent Label +ID,CUSTOM Cancel Reason,Created,ID,Income,Last Pay Amount,Last Pay Complete,Last Pay Date,Last Pay Status,Last Pay Type,Pay Method,Stage,State,Status,ZipCodeNew,date_created,time_created,days,months
0,1.0,Hospital (109465),020 - Financial Reasons,8/12/14 16:52,657938060.0,55490.0,29.95,1.0,2014-09-03,0.0,Sale,Visa,Call Center Notified,NJ,Decline Cancel,7111,2014-08-12,16:52,22.0,0.733333
1,1.0,Newspaper (109455),020 - Financial Reasons,6/16/14 15:40,657847231.0,77857.0,34.95,1.0,2014-07-03,0.0,Sale,Visa,NaN,MA,Decline Cancel,1002,2014-06-16,15:40,17.0,0.566667
2,1.0,Angies List - Forte (109439),020 - Financial Reasons,7/18/14 13:48,657897142.0,95647.0,34.95,1.0,2014-08-05,0.0,Sale,MasterCard,NaN,MA,Decline Cancel,1005,2014-07-18,13:48,18.0,0.600000
3,1.0,Newspaper (109455),020 - Financial Reasons,10/30/14 20:01,658086304.0,35339.0,34.95,1.0,2014-11-01,0.0,Sale,MasterCard,Call Center Notified,MA,Decline Cancel,1013,2014-10-30,20:01,2.0,0.066667
4,1.0,Client Referral 2322 (109402),020 - Financial Reasons,7/22/14 17:08,657903565.0,58782.0,34.95,1.0,2014-09-03,0.0,Sale,Visa,NaN,MA,Decline Cancel,1020,2014-07-22,17:08,43.0,1.433333

In [7]:
# Creating an empty list for column names
names = []

# Creating an empty list for the number of null values in each column
values = []

# Checking for Missing Values
for col in data.columns:
    names.append(col)
    values.append(data[col].isnull().sum())
    print(names[-1],values[-1])

#Prod 39
Agent Label +ID 2
CUSTOM Cancel Reason 39457
Created 2
ID 2
Income 19232
Last Pay Amount 6334
Last Pay Complete 6334
Last Pay Date 6334
Last Pay Status 6334
Last Pay Type 6555
Pay Method 1772
Stage 19726
State 2
Status 2
ZipCodeNew 4
date_created 2
time_created 2
days 6334
months 6334

In [8]:
data = data[pd.notnull(data['Last Pay Date'])]

In [9]:
# Creating an empty list for column names
names = []

# Creating an empty list for the number of null values in each column
values = []

# Checking for Missing Values
for col in data.columns:
    names.append(col)
    values.append(data[col].isnull().sum())
    print(names[-1],values[-1])

#Prod 0
Agent Label +ID 0
CUSTOM Cancel Reason 36611
Created 0
ID 0
Income 18275
Last Pay Amount 0
Last Pay Complete 0
Last Pay Date 0
Last Pay Status 0
Last Pay Type 221
Pay Method 28
Stage 17147
State 0
Status 0
ZipCodeNew 2
date_created 0
time_created 0
days 0
months 0

In [10]:
data = data[~data['Stage'].isin(['Quick Cancel'])]

In [11]:
data['ZipCodeNew'] = data['ZipCodeNew'].astype(int)
data.dtypes()

ValueError: invalid literal for int() with base 10: '77471 2489'