In [1]:
#importing the necessary packages
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#Reading in each csv file for the years of customer data
Customer2014 = pd.read_csv('East Rock_Customer_List_ALL_2014.csv', encoding = 'cp1252')
Customer2015 = pd.read_csv('East Rock_Customer_List_ALL_2015.csv', encoding = 'cp1252')

In [3]:
#Combining the six pandas DataFrames into one using the concatenate function
data = pd.concat([Customer2014, Customer2015], axis=0)

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [4]:
#Spliting the Created column into two rows with the date and time as seperate columns
data['date_created'], data['time_created'] = data['Created'].str.split(' ', 1).str

In [5]:
print(data.head())

   #Prod                   Address                Agent Label +ID  \
0    1.0  10 Marshall ST , Apt 7-E              Hospital (109465)
1    1.0         115 Van Meter Dr              Newspaper (109455)
2    1.0           93 South Street   Angies List - Forte (109439)
3    1.0              19 Myrtle St             Newspaper (109455)
4    1.0            106 edbert st   Client Referral 2322 (109402)

      CUSTOM Cancel Reason       City         Created First Name         ID  \
0  020 - Financial Reasons  Irvington   8/12/14 16:52       Iola  657938060
1  020 - Financial Reasons   Amherst    6/16/14 15:40      Leeta  657847231
2  020 - Financial Reasons      Barre   7/18/14 13:48    Kathryn  657897142
3  020 - Financial Reasons  Chicoppee  10/30/14 20:01   Patricia  658086304
4  020 - Financial Reasons   chicopee   7/22/14 17:08    Paticia  657903565

    Income Last Name     ...                Phone  Sales Agent  \
0  55490.0    Glover     ...       (973) 375-7128          NaN
1  77857.0    Bailey     ...       (413) 230-3844          NaN
2  95647.0    Hazard     ...       (978) 355-6375          NaN
3  35339.0   Stearly     ...       (413) 592-2363          NaN
4  58782.0     jimmo     ...       (413) 593-3244          NaN

                  Stage  State          Status Track Date Cancel Requested  \
0  Call Center Notified     NJ  Decline Cancel                     1/15/15
1                   NaN     MA  Decline Cancel                    10/16/14
2                   NaN     MA  Decline Cancel                     1/15/15
3  Call Center Notified     MA  Decline Cancel                     1/15/15
4                   NaN     MA  Decline Cancel                    10/16/14

  Zip Code ZipCodeNew date_created time_created
0     7111       7111      8/12/14        16:52
1     1002       1002      6/16/14        15:40
2     1005       1005      7/18/14        13:48
3     1013       1013     10/30/14        20:01
4     1020       1020      7/22/14        17:08

[5 rows x 26 columns]

In [9]:
data['date_created'] = pd.to_datetime(data['date_created'])
data['Last Pay Date'] = pd.to_datetime(data['Last Pay Date'])
data['days'] = (data['Last Pay Date'] - data['date_created']).dt.days
data['months'] = data['days']/30
data.head()

,#Prod,Address,Agent Label +ID,CUSTOM Cancel Reason,City,Created,First Name,ID,Income,Last Name,...,Stage,State,Status,Track Date Cancel Requested,Zip Code,ZipCodeNew,date_created,time_created,days,months
0,1.0,"10 Marshall ST , Apt 7-E",Hospital (109465),020 - Financial Reasons,Irvington,8/12/14 16:52,Iola,657938060,55490.0,Glover,...,Call Center Notified,NJ,Decline Cancel,1/15/15,7111,7111,2014-08-12,16:52,22.0,0.733333
1,1.0,115 Van Meter Dr,Newspaper (109455),020 - Financial Reasons,Amherst,6/16/14 15:40,Leeta,657847231,77857.0,Bailey,...,NaN,MA,Decline Cancel,10/16/14,1002,1002,2014-06-16,15:40,17.0,0.566667
2,1.0,93 South Street,Angies List - Forte (109439),020 - Financial Reasons,Barre,7/18/14 13:48,Kathryn,657897142,95647.0,Hazard,...,NaN,MA,Decline Cancel,1/15/15,1005,1005,2014-07-18,13:48,18.0,0.600000
3,1.0,19 Myrtle St,Newspaper (109455),020 - Financial Reasons,Chicoppee,10/30/14 20:01,Patricia,658086304,35339.0,Stearly,...,Call Center Notified,MA,Decline Cancel,1/15/15,1013,1013,2014-10-30,20:01,2.0,0.066667
4,1.0,106 edbert st,Client Referral 2322 (109402),020 - Financial Reasons,chicopee,7/22/14 17:08,Paticia,657903565,58782.0,jimmo,...,NaN,MA,Decline Cancel,10/16/14,1020,1020,2014-07-22,17:08,43.0,1.433333

In [15]:
#Creating an function to generate the dependent variable 'Churn'
def f(row):
    if row['Customer_Status'] == 'Active' or row['Customer_Status'] == 'In Process':
        val = 0
    else:
        val = 1
    return val

#Applying that function to the newly created 'Churn' variable
data['Churn'] = data.apply(f, axis=1)
data.head()

,ID,Phone,City,State,Zip_Code,Pay_Method,Num_Prods,Mean_Income,Creation_Date,Cancel_Request_Date,Cancel_Reason,Customer_Status,LP_Amount,LP_Complete,LP_Date,LP_Status,LP_Type,Churn
0,657938060,(973) 375-7128,Irvington,NJ,7111,Visa,1.0,55490.0,8/12/14 16:52,1/15/15,020 - Financial Reasons,Decline Cancel,29.95,1.0,9/3/14,0.0,Sale,1
1,657847231,(413) 230-3844,Amherst,MA,1002,Visa,1.0,77857.0,6/16/14 15:40,10/16/14,020 - Financial Reasons,Decline Cancel,34.95,1.0,7/3/14,0.0,Sale,1
2,657897142,(978) 355-6375,Barre,MA,1005,MasterCard,1.0,95647.0,7/18/14 13:48,1/15/15,020 - Financial Reasons,Decline Cancel,34.95,1.0,8/5/14,0.0,Sale,1
3,658086304,(413) 592-2363,Chicoppee,MA,1013,MasterCard,1.0,35339.0,10/30/14 20:01,1/15/15,020 - Financial Reasons,Decline Cancel,34.95,1.0,11/1/14,0.0,Sale,1
4,657903565,(413) 593-3244,chicopee,MA,1020,Visa,1.0,58782.0,7/22/14 17:08,10/16/14,020 - Financial Reasons,Decline Cancel,34.95,1.0,9/3/14,0.0,Sale,1